@layer presets {
  :root {
    --foreground: #ffffff;
    --background: #171717;
  }
}

@layer resets {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  img,
  figure,
  svg {
    display: block;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
