main {
  padding-inline: 1em;
  .main--wrapper {
    padding-block: 4em;
    .app-heading {
      font-size: 3rem;
    }
    .app-body {
      font-size: 1.25rem;
      margin-top: 0.25rem;
    }
  }
  @media (width <= 26.25rem) {
    .main--wrapper {
      padding-block: 2em;
      .app-heading {
        font-size: 1.5rem;
      }
      .app-body {
        font-size: 1rem;
        margin-top: 0.2rem;
      }
    }
  }
}
